.body{
    color: white;
}

.weatherDetailBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    border-radius: 10px;
    background-color: #414156;
    width: 250px;
    height: 180px;
    padding: 10px;
}

.weatherDetailBox:hover{
    cursor: pointer;
    background-color: #414656;
}

.weatherSubDetailBox{
    display: flex;
    padding: 1px;
}

.weatherInfoTitle{
    font-size: 14px;
}

.weatherInfoContent{
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}