body {
    color: white;
}

.weatherBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: #414156;
    width: 200px;
    height: 200px;
}

.weatherBox:hover{
    cursor: pointer;
    background-color: #414656;
}