body {
    background-color: #11122C;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weahterInfoContainer{
    display: flex;
    margin: 20px;
    gap: 10px;
}